body {
  font-family: 'Share Tech Mono', monospace;
  margin-left: 30px;
  margin-right: 30px
}

table {
  width: 100%;
}

table td {
  border-width: 1px;
  padding: 5px;
}

table tr td:first-child {
  text-align: right;
  font-weight: bold;
  color: darkblue;
  width: 150px;
}


fieldset {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 0 #ccc;
}

legend {font-weight: bold;font-size: 20px; color: #333; padding: 0 20px}
footer {
  font-family: Arial;
  padding-top: 10px;
  margin-top: 20px;
  line-height: 30px;
  border-top: 1px solid #000;
}

h1 {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.rom-file {
  margin-bottom: 20px;
}

.spriteData {
  margin: auto;
}

.chrBank {
  display: inline-block;
  padding: 15px;
}

canvas:hover {
  transform-origin: 0 0;
  transform: scale(2);
  transition-delay: .2s;
}


canvas {
  image-rendering: pixelated;
  background-color: #fff;
  display: block;
  box-shadow: 3px 3px 10px #999;
  transform-origin: 0 0;
  transition-delay: .1s;
  transition: transform .3s; /* Animation */
}
