table {
  font-family: monospace;
  margin: auto;
  width: 100%;
}

table td {
  border-width: 1px;
  padding: 5px;
}

table tr td:first-child {
  text-align: right;
  font-weight: bold;
  width: 150px;
}

.App {
  width: 450px;
  margin: auto;
}

fieldset {
  border: 1px solid #ccc;
}
footer {
  font-family: Arial;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  border-top: 1px solid #000;
}

h1 {
  border-bottom: 1px solid #000;
}

.rom-file {
  margin-bottom: 20px;
}
